  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fa fa-car"></i> Car Maintenance History</h1>
          <h1>{{fakeMilage}}</h1>
        </div>
      </div>
    </div>
  </header>

  <section id="action" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto">
          <div class="input-group">
          <form method="post">            
            <input type="text" class="form-control" placeholder="Enter Vehicle VIN#" name="searchText">
            <span class="input-group-btn">
                  <button class="btn btn-primary">Search</button>                  
              </form>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- POSTS -->
  <section id="posts">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Latest Posts</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Date Posted</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each vehicleData}}
                  <tr>
                    <td>{{serviceid}}</td>
                    <td>{{Type}}</td>
                    <td>{{Car}}</td>
                    <td>{{date}}</td>
                    <td><a href="details/4" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Details
                    </a></td>
                  </tr>
                {{/each}}
              </tbody>
            </table>

            <nav class="ml-4">
              <ul class="pagination">
                <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>